<header class="bg-dark bg-gradient text-light p-3 border-4 border-bottom border-light shadow">
  <h1 class="d-flex justify-content-center">Control de Stock</h1>
</header>
<main class="mb-5">

  <div class="container mt-3">
    <div class="row">
      <section id="form" class="col-12 col-md-4">
        <app-forms-products (productEmit)="guardarProduct($event)"></app-forms-products>
        <app-total-products [ourProducts]="arrProducts"></app-total-products>
      </section>
      <section id="data" class="col-12 col-md-8">
        <app-list-products [ourProducts]="arrProducts"></app-list-products>
      </section>
    </div>
  </div>

</main>
<footer class="bg-dark bg-gradient text-light p-3 fixed-bottom">Copyright &copy; 2024</footer>